<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <link href="_content/MudBlazor/MudBlazor.min.css?v=@(Extensions.Extensions.MudBlazorVersion)" rel="stylesheet" />
    <link id="mudex-styles" href="_content/MudBlazor.Extensions/mudBlazorExtensions.min.css?v=@(Extensions.Extensions.MudExVersion)" rel="stylesheet">
    <link href="css/app.css?v=@(Extensions.Extensions.AppCssVersion)" rel="stylesheet" />
	<link href="css/prism.css" rel="stylesheet" />
    <link href="css/tooltip-extensions.min.css?v=@(Extensions.Extensions.AppToolTipExtensionVersion)" rel="stylesheet" />
    <link href="ThemeCreator.ico" rel="icon" type="images/png" />
    <HeadOutlet @rendermode="@InteractiveServer" />
</head>

<body>
    <Routes @rendermode="@InteractiveServer" />
    <script src="_framework/blazor.web.js"></script>
    <script src="_content/MudBlazor/MudBlazor.min.js?v=@(Extensions.Extensions.MudBlazorVersion)"></script>
    <script src="js/prism.js" data-manual></script>
    <script src="js/ThemeCreator.js?v=@(Extensions.Extensions.ThemeCreatorJsVersion)"></script>
</body>

</html>
